                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3 class="panel-title"></h3></div>
                            <div class="panel-body">
<!--                                 <form class="form-horizontal" role="form"> -->
                                <p "form-horizontal" role="form">
                                <%= form_for(@problem) do |f| %>
                                    
                                    <div class="form-group">
                                        <label class="col-md-2 control-label"> Patient </label>
                                        <div class="col-md-10">                
                                      <%= f.text_field :patient_id , class: "form-control" %>
                                    </div> 
                                    </div>  <br /><br /><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Current Problem</label>
                                        <div class="col-md-10">
                                      <%= f.text_field :current_problem , class: "form-control" %>
                                    </div>
                                    </div><br /><br /><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">History</label>
                                        <div class="col-md-10">
                                      <%= f.text_field :history , class: "form-control" %>
                                    </div>
                                    </div><br /><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Diagnosis</label>
                                        <div class="col-md-10">
                                      <%= f.text_field :diagnosis , class: "form-control" %>
                                    </div>
                                    </div>
                                    </div><br /><br /><br />
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Avatar</label>
                                        <div class="col-md-10">
                                          <%= f.file_field :avatar  , class: "form-control" %>
                                    </div><br /><br /><br />
                                    <div class="form-group">
<!--                                         <label class="col-md-2 control-label">Submit</label> -->
                                        <div class="col-md-10">
                                        <button type="submit" class="btn btn-effect-ripple btn-primary">Submit</button>
                                     
                                    </div>
                                    </div>                               
                               <% end %>
                               <br /><br />
                               </p>

<!--                                 </form>
 -->                            </div> <!-- panel-body -->
                        </div> <!-- panel -->
                    </div> <!-- col -->
                </div> <!-- End row -->





