<p id="notice"><%= notice %></p>

<p>
  <strong>Current problem:</strong>
  <%= @problem.current_problem %>
</p>

<p>
  <strong>History:</strong>
  <%= @problem.history %>
</p>

<p>
  <strong>Diagnosis:</strong>
  <%= @problem.diagnosis %>
</p>

<p>
  <strong>Avatar</strong>
  <%= image_tag @problem.avatar.url %>
</p>

<p>
  <strong>Avatar Medium</strong>
  <%= image_tag @problem.avatar.url(:medium) %>
</p>

<p>
  <strong>Avatar Medium</strong>
  <%= image_tag @problem.avatar.url(:thumb) %>
</p>



<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
